*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:linear-gradient(135deg,#4facfe,#00f2fe,#6a11cb,#ff758c);
    background-size:400%;
    animation:bg 10s infinite;
}


@keyframes bg{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

.card{
    width:90%;
    max-width:550px;
    text-align:center;
    padding:45px;
    position:relative;
    z-index:10;
}

@keyframes zoom{

from{

transform:scale(.7);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}

h1{

font-size:38px;

margin-bottom:20px;

}

p{

font-size:20px;

min-height:90px;

}

button{

margin-top:25px;

padding:15px 35px;

border:none;

border-radius:40px;

background:white;

color:#ff4081;

font-size:18px;

cursor:pointer;

transition:.3s;

font-weight:bold;

}

button:hover{

transform:scale(1.08);

}

#wish{

display:none;

margin-top:25px;

font-size:24px;

font-weight:bold;

color:#fff700;

}

.letter{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.75);

justify-content:center;

align-items:center;

z-index:999;

}

.letter-content{

background:white;

width:90%;

max-width:700px;

padding:40px;

border-radius:20px;

text-align:center;

color:#333;

animation:popup .5s;

box-shadow:0 20px 50px rgba(0,0,0,.4);

}

.letter-content h2{

color:#ff4081;

margin-bottom:20px;

}

.letter-content p{

font-size:18px;

line-height:1.8;

}

.close{

float:right;

font-size:28px;

cursor:pointer;

color:red;

}

@keyframes popup{

from{

transform:scale(.6);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}
